/** 
css의 유일한 주석
*/

/* Element Selector (tag Selector)*/
body {
  /* 글자의 굵기 정도를 조정(100 ~ 900) */
  font-weight: 100;
}

div {
  /* 글자 색상 */
  color: #00f;

  /* 글자 크기 조정 */
  /* rem은 상대크기의 몇배 */
  font-size: 2rem;
  /* 박스의 배경색 조정 */
  background-color: #ff0;
}
